
.board {
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  height:300px;
  width: 90%;
  margin: 10% auto;
}

.board div {
  border: 1px solid;
  height: 33%;
  width: 10%;
  
}
h1{
  display: flex;
  justify-content: center;
  animation:1.5s slidein;
}
.start {
  background-color: blue;
}

.end {
  background-color: red;
}

.faulty{
  background-color: purple;
}
.safe{
  background-color: green;
}
.player {
  background-color: black;
}

.slidein {
  animation-name: fadeInOut, moveLeft300px, bounce;
animation-duration: 3s;
animation-iteration-count: 1;
}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
  
}