
.board {
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  height:300px;
  width: 90%;
  margin: 10% auto;
}

.board div {
  border: 1px solid;
  height: 33%;
  width: 10%;
}
h1{
  display: flex;
  justify-content: center;
}
#button{
  display: flex;
}
.start {
  background-color: blue;
}

.end {
  background-color: red;
}


.player {
  background-color: black;
}
