body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: inherit;
  --light-dark-btn-bg: #1d1e2b;
  --light-dark-btn-content: "Dark Mode";
}
body.dark {
  --body-bg: #22232b;
  --btn-text-color: #eaeaea;
  --card-text-color: #dedede;
  --header-bg: #005e9d;
  --header-text-color: #d8d8d8;
  --inverted-btn-text-color: #2a2a2a;
  --light-dark-btn-bg: linear-gradient(to right top, #444655, #595b6b, #6f7181,
    #868898, #9ea0b0, #acaebe, #bbbccd, #cacbdc, #d2d4e5, #dadced, #e3e5f6, #ebeeff);
  --light-dark-btn-content: "Light Mode";
    background-color: var(--body-bg);
}
  
  #light-dark-button {
    color: white;
    background-color: var(--light-dark-btn-bg);
    background-image: var(--light-dark-btn-bg);
    box-sizing: inherit;
  }
  
  #light-dark-button::after {
    border: none;
    color: var(--inverted-btn-text-color);
    content: var(--light-dark-btn-content);
  }
.board {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-bottom: 30px;

}
.board div {
  
  height: 31%;
  width: 9%;
  margin: 2px;
}

#title{
  background-color: rgb(1, 93, 147);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: aqua;
}

h2{
color: red ;
padding: 10px;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.init h3{
  color: rgb(67, 175, 43);
  
}

.board img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.65); 
box-shadow: 0px 0px 10px 0px rgba(3, 0, 0, 0.65);
}

.player1 {
  background:url("../glass.png");
  background-size: 100% 100%;
  content: url("player-blue.png");
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.65); 
box-shadow: 0px 0px 10px 0px rgba(3, 0, 0, 0.65);
}

.player2 {
  background:url("../glass.png");
  background-size: 100% 100%;
  content: url("player-pink.png");
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.65); 
box-shadow: 0px 0px 10px 0px rgba(3, 0, 0, 0.65);
}

.player3 {
  background:url("../glass.png");
  background-size: 100% 100%;
  content: url("player-red.png");
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.65); 
box-shadow: 0px 0px 10px 0px rgba(3, 0, 0, 0.65);
}

.buttons  {

  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 45px;
  padding-top: 0;
}
.buttons button{
  margin: 5px;
}

.start{
  border: 2px solid #813f49;
  height: 100%;
  background-image: url('wood.png');
}

.init{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player1dead {
  background:url("broken-glass.png");
  background-size: 100% 100%;
  content: url("player-blue-dead.png");
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.65); 
box-shadow: 0px 0px 10px 0px rgba(3, 0, 0, 0.65);
}

.player2dead {
  background:url("broken-glass.png");
  background-size: 100% 100%;
  content: url("player-pink-dead.png");
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.65); 
box-shadow: 0px 0px 10px 0px rgba(3, 0, 0, 0.65);
}

.player3dead {
  background:url("broken-glass.png");
  background-size: 100% 100%;
  content: url("player-red-dead.png");
  background: contain;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.65); 
box-shadow: 0px 0px 10px 0px rgba(3, 0, 0, 0.65);
}